body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f2f2f2;
    color: #222;
}

.page-title {
    text-align: center;
    margin: 35px 0;
    font-size: 26px;
    font-weight: 600;
}

/* CONTAINER */
.checkout-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 20px;
}

/* LEFT  */
.checkout-form {
    background: #ffffff;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}

.checkout-form h3 {
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 8px;
}

.form-row {
    display: flex;
    gap: 15px;
}

.checkout-form input,
.checkout-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    font-size: 14px;
    background: #fafafa;
}

.checkout-form input:focus,
.checkout-form textarea:focus {
    outline: none;
    border-color: #111;
    background: #fff;
}

textarea {
    resize: none;
    height: 90px;
}

/* PAYMENT Options */
.radio {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0;
    font-size: 14px;
}

/* place order button */
.place-order-btn {
    width: 100%;
    padding: 15px;
    background: #111;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.place-order-btn:hover {
    background: #000;
}

/* RIGHT */
.checkout-summary {
    background: #ffffff;
    padding: 28px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}

.checkout-summary h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.summary-item,
.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 14px;
}

.summary-row.total {
    font-weight: 700;
    font-size: 18px;
    border-top: 1px solid #e5e5e5;
    padding-top: 12px;
}
